body{
    background-color: black;
}

.motivation-img{
    border: solid white 5px;
}
h1{
    color: aquamarine;
    text-transform: uppercase;
}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;

}